.footer {
    padding: 2rem 0 2rem 0;
    background-color: #464547;
    color: #FFFFFF;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 1rem 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.footer-content a,
.footer-content address,
.footer-content p {
    line-height: 1.5;
}

.company-logo {
    grid-column: 1/2;
    align-self: start;
    display: flex;
    align-items: center;
    gap: 0.7rem;

}

.company-logo>span {
    font-size: 18px;
    line-height: 16px;
    margin-top: 1px;
    letter-spacing: 0.1rem;
    opacity: 1;
    text-transform: uppercase;
    font-family: 'Source Sans 3' sans-serif;
}

.address {
    grid-column: 2/3;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0.5;
    font-style: normal;
}

.copyright {
    align-self: end;
    justify-self: start;
    grid-column: 3/4;
    line-height: 1.5;
    opacity: 0.4;
}



@media screen and (max-width:768px) {
    .footer-content {
        grid-template-columns: minmax(auto, 1fr);
        gap: 19px;
    }

    .company-logo {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .address {
        grid-column: 1/1;
        text-align: center;
    }

    .copyright {
        align-self: center;
        justify-self: center;
        grid-column: 1/1;
    }

}