.info-section {
    height: fit-content;
    padding: 87px 0 98px 0;
    text-align: center;
    background: #FFF;
}

.info-header {
    font-size: 3rem;
    color: #464547;
}

.info-subheader {
    font-size: 1.5rem;
    color: #666666;
    padding: 3rem 0 2.5rem 0;
    font-weight: 300;
}

.info-section-content {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
}

.info-section-content>p {
    text-align: justify;
    flex: 1 1 50%;
}

.info-btn {
    font-family: Oswald, sans-serif;
    color: var(--primary-color);
    background-color: #55C2D8;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.5rem;
    line-height: unset;
    padding: 0.6125rem 1.1rem;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    border-radius: 18px;
}

@media screen and (max-width:768px) {
    .info-section {
        text-align: left;
    }

    .info-section-content {
        flex-direction: column;
        gap: calc(24/16 * 1rem);
    }

    .info-btn-container {
        text-align: left;
    }
}

.info-btn-container {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.info-btn {
    transform-origin: top left;
    transform: rotateZ(0deg);
    transition: all 0.3s ease-in-out;
}

.info-btn-container:hover .info-btn {
    transform: rotateZ(15deg);
}